body{
    font-family: sans-serif;
    text-align: centers;
}

.header{
    text-align: center;
    background-image: url(img/headerbg.jpg);
    color: white;
    
}
.header h2{
    text-align: center;
    margin: -25px;
}

.desk{
    margin: 40px;
    text-align: center;
}

.main{
    padding: 10px 10px;
    text-align: center;
    padding: 10px 100px;
}

.weapon{
    color: rgb(255, 255, 255);
    background-color: rgb(87, 79, 79);
    margin: 30px;
    padding: 1px;

}